<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cliente</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=DotGothic16&family=Neucha&family=Patrick+Hand+SC&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body style="padding-bottom: 355px;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Smart Class</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" onclick="location.href = 'login'">Iniciar Sesion
          </a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>

<div class="container bg-dark w-25 p-5" style="margin-top: 50px; border-radius: 5px;">
  <form method="POST">
    <legend class="text-center">Registro:</legend>
        <div class="form-group">
        <a>Carnet:</a>  
        <input type="number" id="carnet" class="form-control"  placeholder="Ingrese usuario" name="carnet">
        </div>
        <div class="form-group">
          <a>Nombre:</a>  
          <input type="text" id="nombre" class="form-control"  placeholder="Ingrese nombre" name="nombre">
          </div>
          <div class="form-group">
            <a>DPI:</a>  
            <input type="text" id="dpi" class="form-control"  placeholder="Ingrese DPI" name="dpi">
            </div>
        <div class="form-group"> 
        <a>Carrera:</a>   
        <input type="text" id="carrera" class="form-control"  name="carrera" placeholder="Ingrese carrera">
        </div>
        <div class="form-group">
          <a>Correo:</a>  
          <input type="text" id="correo" class="form-control"  placeholder="Ingrese correo" name="correo">
          </div>
          <div class="form-group">
            <a>Contraseña:</a>  
            <input type="password" id="password" class="form-control"  placeholder="Ingrese contraseña" name="password">
            </div>
            <div class="form-group">
              <a>Creditos:</a>  
              <input type="text" id="creditos" class="form-control"  placeholder="Ingrese creditos" name="creditos">
              </div>
              <div class="form-group">
                <a>Edad:</a>  
                <input type="number" id="edad" class="form-control"  placeholder="Ingrese edad" name="edad">
                </div>  
        <div class="text-center p-2">
        <a onclick="location.href='login'" class="link-warning text-center" >Iniciar Sesion</a>
        </div>
        
        <button class="btn btn-outline-success btn-block text-center" type="submit">Registrarse!</button>
    </form>
    

{% if mensaje!= None%}    
</div>
<div align="center">
<div class="alert alert-dismissible alert-success" style="width: 400px; margin-top: 10px;" align="center">
  
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">{{mensaje}}</p>
</div>
</div>
{%endif%}
</body>


</html>
